<div class="card">
  <img class="card-img" src="assets/PF_top.jpg" alt="Card image">
  <div class="card-img-overlay text-center d-flex justify-content-center align-items-center font-weight-bold" style="font-family: HiraMinPro-W6">
    <h1 class="card-text">テンプデート</p>
  </div>
</div>